{% extends "base.html" %}


{% block content %}
  {% if request.user.is_superuser %}
  <a href="{% url 'crud:add' %}">登録画面へ</a>
  <form method="post" action="{% url 'crud:delete' %}">
    <table border="1">
      <tr>
        <td>名前</td>
        {% for message in messages %}
          <td colspan="2">{{ message.teacher_name }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13:00~14:20</td>
        {% for message in messages %}
          <td>{{ message.time13_1 }}</td>
          <td>{{ message.time13_2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>14:30~15:50</td>
        {% for message in messages %}
          <td>{{ message.time14_1 }}</td>
          <td>{{ message.time14_2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>17:00~18:20</td>
        {% for message in messages %}
          <td>{{ message.time17_1 }}</td>
          <td>{{ message.time17_2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>18:30~19:50</td>
        {% for message in messages %}
          <td>{{ message.time18_1 }}</td>
          <td>{{ message.time18_2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>20:00~21:20</td>
        {% for message in messages %}
          <td>{{ message.time20_1 }}</td>
          <td>{{ message.time20_2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>編集画面へ</td>
        {% for message in messages %}
          <td><a href="{% url 'crud:edit' message.id %}">更新画面へ</a></td>
          <td></td>
        {% endfor %}
      </tr>
    </table>
  </form>
  {% endif %}
{% endblock %}



